@charset "UTF-8";
.left{
	float:left;
}
.box2{
	width:930px;
	height:600px;
	float:right;
	background-color:#FFFFFF;
	overflow-x: auto;
}
.box1{
	width:435px;
	float:left;
	height:600px;
	background-color:#E9E9E9;
	margin-left:10px;
	text-align: right;
	overflow:auto;
}
/*第二板块*/
.box3{
	width:1415px;
	height:600px;
	margin-top:10px;
}
#xqxz{
	height:30px;
	line-height:30px;
	padding-right:5px;
	color:#fff;
	background-color:#732107;
}
.box4{
	width:1302;
	height:30px;
	margin-top:10px;
	text-align:center;
}
.box5{
	width:450px;
	height:30px;
	text-align:center;
	overflow:auto;
	margin-left:420px;
}
#menu{
	width:1450px;
	height:40px;
	border-top:0px solid#000000;
}
#menu a{
	font-family:方正清刻本悦宋简体;
	font-size:18px;
	color:#000000;
	line-height:36px;
	padding:0px 30px;
	text-decoration:none;
	display:inline-block;
}
#menu a:hover,#menu a.selected{
	color:#FFFFFF;
	background-color:#732107;
}
.footer{
	width:1302px;
	border:1px solid auto;
	text-align:center;
	margin-top:20px;
	font-size:9px;
	
}
